{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src/"],
        "alias": {
          "components": "./src/components",
          "containers": "./src/containers",
          "pages": "./src/pages",
          "styles": "./src/styles",
          "views": "./src/views"
        }
      }
    ]
  ]
}
