---
import Timeline from "./partials/Timeline.astro"
---

<div class="my-16">
  <div class="mb-14">
    <div class="text-3xl text-gray-100 font-bold mb-2 underline">Experience</div>
    <h2 class="text-normal text-gray-300">
      The experience I gained while working in several companies or several projects.
    </h2>
  </div>
  <Timeline />
</div>
