---
import { MY_NAME } from "~/config/site"
---

<div class="mt-48 text-center">
  <div class="flex flex-auto justify-center my-4">
    <img
      class="w-28 h-28 p-1 rounded-full ring-4 ring-gray-600"
      src="/static/images/avatar.webp"
      alt="avatar"
    />
  </div>
  <h1 class="text-4xl font-bold text-gray-100">
    Hi, I'm {MY_NAME}
  </h1>
  <h3 class="text-2xl mt-2 text-gray-300">
    Software Engineer at <a href="https://moneyflow.id" target="_blank" class="underline">
      Moneyflow ID
    </a>
  </h3>
  <p class="text-lg mt-8 text-gray-400">
    I am a software engineer who loves to build things and learn new things. I am passionate about
    building scalable and high-performance web applications, and I am always looking for new
    challenges to push myself to learn new technologies and improve my skills.
  </p>
</div>
