---
import { MY_NAME } from "~/config/site"
---

<div class="mt-48 text-center">
  <div class="flex flex-auto justify-center my-4">
    <img
      class="w-28 h-28 p-1 rounded-full ring-4 ring-gray-600"
      src="/static/images/avatar.webp"
      alt="avatar"
    />
  </div>
  <h1 class="text-4xl font-bold text-gray-100">
    Hi, I'm {MY_NAME}
  </h1>
  <h3 class="text-2xl mt-2 text-gray-300">
    Software Engineer at <a href="https://moneyflow.id" target="_blank" class="underline">
      Moneyflow ID
    </a>
  </h3>
  <p class="text-lg mt-8 text-gray-400">
    I am a software engineer who loves to build things and learn new things. I am passionate about
    building scalable and high-performance web applications, and I am always looking for new
    challenges to push myself to learn new technologies and improve my skills.
  </p>

  <div class="mt-6 flex items-center mx-auto justify-center">
    <div
      class="flex items-center bg-slate-800 text-white font-medium rounded-2xl shadow-md hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-slate-600 focus:ring-opacity-75"
    >
      <div class="m-auto appearance-none py-2 px-4 pr-0">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-download"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"></path><path d="M7 11l5 5l5 -5"
          ></path><path d="M12 4l0 12"></path></svg
        >
      </div>
      <a
        href="/static/pdf/Resume_N.Fajri.pdf"
        class="m-auto appearance-none py-2 px-4"
        target="_blank"
        rel="noopener"
      >
        My Resume PDF
      </a>
    </div>
  </div>
</div>
