.footer {
  margin-top: rem(120);
  border-top: rem(1px) solid
    light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}

.float_button {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 30px;
  right: 30px;
  background-color: #4dc247;
  color: var(--mantine-color-white);
  border-radius: 50px;
  text-align: center;
  z-index: 120;
}

.links {
  margin-top: 1rem;
}