---
import GoogleAnalytic from "../head/GoogleAnalytic.astro"
import GoogleFont from "../head/GoogleFont.astro"
import TablerIcon from "../head/TablerIcon.astro"
---

<html lang="en" class="bg-slate-900">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <slot name="meta" />
    <GoogleFont />
    <TablerIcon />
    <GoogleAnalytic />
  </head>

  <body class="relative min-h-screen">
    <main class="max-w-5xl mx-auto antialiased">
      <slot />
    </main>
  </body>
</html>
