@font-face {
  font-family: 'OpenSans-Regular';
  src: local('OpenSans'), local('OpenSans-Regular'),
    url('/fonts/OpenSans/OpenSans-Regular.ttf') format('truetype'),
    url('/fonts/OpenSans/OpenSans-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('/fonts/OpenSans/OpenSans-Bold.ttf') format('truetype'),
    url('/fonts/OpenSans/OpenSans-Bold.otf') format('opentype');
}

:global {
  .cursor-pointer {
    cursor: pointer !important;
  }

  .rounded-8 {
    border-radius: 8px !important;
  }

  .w-full {
    width: 100%;
  }

  .full-height {
    height: 100%;

    .ant-spin-container {
      height: 100%;
    }
  }

  .reset-a,
  .reset-a:hover,
  .reset-a:visited,
  .reset-a:focus,
  .reset-a:active {
    text-decoration: none;
    color: inherit;
    outline: 0;
  }

  #__next {
    height: 100%;
    .ant-card-bordered {
      border: 2px solid #f0f0f0;
    }
  }
}
