.root_layout {
  position: relative;
}

.wrapper {
  padding-top: rem(80px);
  padding-bottom: rem(80px);
  margin: auto;
}

.inner {
  position: relative;
  z-index: 1;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.dots {
  position: absolute;
  color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));

  @media (max-width: $mantine-breakpoint-sm) {
    display: none;
  }
}

.dotsLeft {
  left: 0;
  top: 0;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: rem(40px);
  letter-spacing: -1px;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family: Greycliff CF, var(--mantine-font-family);

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(28px);
    text-align: left;
  }
}

.subtitle {
  text-align: center;
  font-weight: 600;
  font-size: rem(24px);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family: Greycliff CF, var(--mantine-font-family);

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(28px);
    text-align: left;
  }
}

.highlight {
  color: light-dark(var(--mantine-color-blue-6), var(--mantine-color-blue-4));
}

.description {
  text-align: center;

  @media (max-width: $mantine-breakpoint-xs) {
    text-align: left;
    font-size: var(--mantine-font-size-md);
  }
}

.card {
  transition: transform 150ms ease, box-shadow 150ms ease;

  &:hover {
    transform: scale(1.01);
    box-shadow: var(--mantine-shadow-md);
  }
}

.card_title {
  font-family: "Greycliff CF", var(--mantine-font-family);
  font-weight: bold;
}

.card_line {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: transform 150ms ease, box-shadow 100ms ease;
  padding: var(--mantine-spacing-xl);
  padding-left: calc(var(--mantine-spacing-lg) * 2);

  @mixin hover {
    box-shadow: var(--mantine-shadow-md);
    transform: scale(1.02);
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: rem(6px);
    background-image: linear-gradient(
      0,
      var(--mantine-color-blue-6),
      var(--mantine-color-cyan-6)
    );
  }
}

.card_line_off {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: transform 150ms ease, box-shadow 100ms ease;
  padding: var(--mantine-spacing-xl);
  padding-left: calc(var(--mantine-spacing-lg) * 2);

  @mixin hover {
    box-shadow: var(--mantine-shadow-md);
    transform: scale(1.02);
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: rem(6px);
    background-image: linear-gradient(
      0,
      var(--mantine-color-gray-6),
      var(--mantine-color-dark-6)
    );
  }
}
