---
import LogoCarousel from "~/components/carousel/LogoCarousel.tsx"
import ProjectCarousel from "~/components/carousel/ProjectCarousel"
import PageMeta from "~/components/head/PageMeta.astro"
import Layout from "~/components/layouts/Layout.astro"
import { SITE_TITLE } from "~/config/site"
import Experience from "~/ui/home/Experience.astro"
import Github from "~/ui/home/Github.astro"
import Introduce from "~/ui/home/Introduce.astro"
import projectJson from "~/data/project.json"

const projects = projectJson.data
---

<Layout>
  <PageMeta title={`${SITE_TITLE} | All about software development`} slot="meta" />

  <Introduce />

  <div class="my-16">
    <div class="text-center mb-4 text-gray-600 font-semibold">Tools used</div>
    <LogoCarousel />
  </div>

  <Experience />

  <div class="my-16">
    <div class="text-center mb-4 text-gray-200 text-2xl font-semibold">Recent projects</div>
    <ProjectCarousel data={projects} />
  </div>

  <Github />
</Layout>
