@import 'src/@nexys/styles/vars';

#customTabs {
  :global {
    .ant-tabs {
      background-color: #fff;
      border-radius: 10px;
    }

    .ant-tabs-nav-wrap {
      background-color: #efeee9;
    }

    .ant-tabs-content {
      padding: 1rem;
    }
  }
}

#customTabsCard {
  :global {
    p {
      margin: 0;
    }
    .ant-tabs-card .ant-tabs-content {
      min-height: 120px;
      margin-top: -16px;
      font-family: var(--primaryFont);
    }
    .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
      padding: 16px;
      background: #fff;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    .ant-tabs-card > .ant-tabs-nav::before {
      display: none;
    }
    .ant-tabs-card .ant-tabs-tab,
    [data-theme='compact'] .ant-tabs-card .ant-tabs-tab {
      background: transparent;
      border-color: transparent;
      font-family: var(--primaryFont);
    }
    .ant-tabs-card .ant-tabs-tab-active,
    [data-theme='compact']
      .card-container
      > .ant-tabs-card
      .ant-tabs-tab-active {
      background: #fff;
      border-color: #fff;
    }
    #components-tabs-demo-card-top .code-box-demo {
      padding: 24px;
      overflow: hidden;
      background: #f5f5f5;
    }
    [data-theme='compact'] .ant-tabs-card .ant-tabs-content {
      height: 120px;
      margin-top: -8px;
    }
    [data-theme='dark'] .ant-tabs-card .ant-tabs-tab {
      background: transparent;
      border-color: transparent;
    }
    [data-theme='dark'] #components-tabs-demo-card-top .code-box-demo {
      background: #000;
    }
    [data-theme='dark']
      .card-container
      > .ant-tabs-card
      .ant-tabs-content
      > .ant-tabs-tabpane {
      background: #141414;
    }
    [data-theme='dark'] .ant-tabs-card .ant-tabs-tab-active {
      background: #141414;
      border-color: #141414;
    }
  }
}
