---
const coreSkills = [
  "NodeJs",
  "TypeScript",
  "JavaScript",
  "ExpressJs",
  "TypeORM",
  "GORM",
  "Eloquent",
  "ReactJs",
  "NextJs",
  "AstroJs",
  "Web3js",
  "Hardhat",
  "Solidity",
  "Smart-contract",
  "Web3",
  "Go",
  "Sqlx",
  "PHP",
  "Laravel",
  "Rest API",
  "PostgreSQL",
  "MySQL",
  "NoSQL",
  "MongoDB",
  "Firebase",
  "Dart",
  "Flutter",
  "Tailwindcss",
  "Ability to Learn",
  "OOP",
  "AWS",
  "Google Cloud",
  "VPS",
  "Docker",
  "Ubuntu",
  "Traefik",
];
---

<section class="pt-6">
  <div class="grid gap-2 pb-6">
    <h1 class="text-2xl sm:text-4xl text-slate-300 font-semibold">
      <u>Core Skills</u>
    </h1>

    <h2 class="text-normal text-slate-300">
      The experience I gained during my work and the skills I have.
    </h2>
  </div>

  <div class="flex flex-wrap gap-2 pb-6">
    {coreSkills.map((skill) => {
      return (
        <span class="bg-gradient-to-br from-teal-400 via-green-300 to-lime-400 text-xs font-bold px-2.5 py-0.5 rounded-lg text-gray-800 border-yellow-300 dark:border-yellow-300">
          {skill}
        </span>
      );
    })}
  </div>
</section>
