---
const socialMedias = [
  {
    icon: "ti ti-brand-x",
    name: "Twitter",
    link: "https://x.com/masb0ymas",
  },
  {
    icon: "ti ti-brand-linkedin",
    name: "Linkedin",
    link: "https://linkedin.com/in/masb0ymas",
  },
  {
    icon: "ti ti-brand-github",
    name: "Github",
    link: "https://github.com/masb0ymas",
  },
  {
    icon: "ti ti-heart-handshake",
    name: "Support Me",
    link: "https://s.id/masb0ymas",
  },
  {
    icon: "ti ti-brand-whatsapp",
    name: "Whatsapp",
    link: "https://api.whatsapp.com/send/?phone=+6287837554403&text=Hi, I am interested in your portfolio, would you be willing to discuss it with me?",
  },
  {
    icon: "ti ti-mail",
    name: "Email",
    link: "mailto:n.fajri@outlook.com",
  },
  {
    icon: "ti ti-rss",
    name: "RSS",
    link: "/rss.xml",
  },
];
---

<div class="flex gap-6">
  {
    socialMedias.map((item) => {
      return (
        <a
          href={item.link}
          class="group -m-1 p-1 text-white text-2xl"
          aria-label={item.name}
          target="_blank"
          rel="noopener"
        >
          <i class={item.icon} aria-hidden="true" />
        </a>
      );
    })
  }
</div>
