---
import GoogleFont from "./GoogleFont.astro";
import TablerIcon from "./TablerIcon.astro";
---

<html lang="en" class="bg-gray-800">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <slot name="meta" />
    <GoogleFont />
    <TablerIcon />
  </head>

  <body class="relative min-h-screen">
    <main class="max-w-5xl mx-auto antialiased">
      <div class="max-w-3xl mx-auto antialiased p-6 sm:p-4">
        <slot />
      </div>
    </main>
  </body>
</html>
