.customSidebar {
    padding: 10px 10px !important;
  :global {
    .ant-menu-submenu-title {
      font-weight: bold !important;
    }

    .ant-menu-item-selected {
      background-color: #0B9191 !important;
      color: #ffffff !important;
    //   border-radius: 8px !important;
    }
    .ant-menu-item-selected::after {
      opacity: 0 !important;
    }
    .ant-menu-item-selected a {
      color: #ffffff !important;
    }
    .ant-menu-item-selected:hover {
      color: #ffffff !important;
    }

    .ant-menu-item {
      height: 33px !important;
      line-height: 33px !important;
    }
  }
}

.exitButton {
  font-weight: bold !important;
  display: flex !important;
  color: black !important;
  align-items: center !important;
  margin: 10px 0 0 -7px !important;
}

.exitButton:hover {
  color: rgb(26, 25, 25) !important;
}

.exitButton:focus {
  color: rgb(26, 25, 25) !important;
}

.fontBold {
  font-weight: bold;
}